<ion-header  id="ionHeader" >
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button color="medium">
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center" style="font-family: ArchitectsDaughter;"> 
          XPERIANS
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button color="medium">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>